<!--The content below is only a placeholder and can be replaced.-->
<hero-list (notify)="onNotify($event)" [heroes] = "heroes"></hero-list>
<!--<hero-detail [hero]="selectedHero"></hero-detail>-->
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
  <div>
    <label>Hero name:</label> <input #heroName />
    <button (click)="add(heroName.value); heroName.value=''">
      Add
    </button>
  </div>
</div>
